<mat-nav-list *ngIf="userIsAuthenticated">
  <a
    mat-list-item
    *ngIf="userIsAuthenticated"
    routerLink="/posts/home"
    routerLinkActive="mat-accent"
    >Home</a
  >
  <a
    mat-list-item
    *ngIf="userIsAuthenticated"
    routerLink="/posts/create"
    routerLinkActive="mat-accent"
    >New Post</a
  >
  <a
    mat-list-item
    *ngIf="!userIsAuthenticated"
    routerLink="/auth/login"
    routerLinkActive="mat-accent"
    >Login</a
  >
  <a
    mat-list-item
    *ngIf="!userIsAuthenticated"
    routerLink="/auth/signup"
    routerLinkActive="mat-accent"
    >Signup</a
  >
  <button
    *ngIf="userIsAuthenticated"
    class="userName"
    mat-raised-button="accent"
    (click)="onLogout()"
  >
    Logout
  </button>
  <!-- <button
    *ngIf="userIsAuthenticated"
    class="userName"
    mat-raised-button="accent"
  >
    {{ userName }}
  </button> -->
  <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
</mat-nav-list>
