<mat-nav-list *ngIf="userIsAuthenticated">
  <a
    mat-list-item
    *ngIf="userIsAuthenticated"
    routerLink="/posts/home"
    routerLinkActive="mat-accent"
    >Home</a
  >
  <a
    mat-list-item
    *ngIf="userIsAuthenticated"
    routerLink="/posts/create"
    routerLinkActive="mat-accent"
    >New Task</a
  >
  <a
    mat-list-item
    *ngIf="userIsAuthenticated"
    routerLink="/teams"
    routerLinkActive="mat-accent"
    [matMenuTriggerFor]="menu"
    >My Team</a
  >
  <a
    mat-list-item
    *ngIf="userIsAuthenticated"
    routerLink="/posts/myProfile"
    routerLinkActive="mat-accent"
    >My Profile</a
  >
  <a
    mat-list-item
    *ngIf="!userIsAuthenticated"
    routerLink="/auth/login"
    routerLinkActive="mat-accent"
    >Login</a
  >
  <a
    mat-list-item
    *ngIf="!userIsAuthenticated"
    routerLink="/auth/signup"
    routerLinkActive="mat-accent"
    >Signup</a
  >
  <button
    *ngIf="userIsAuthenticated"
    class="userName"
    mat-raised-button="accent"
    (click)="onLogout()"
  >
    Logout
  </button>
</mat-nav-list>

<mat-menu #menu="matMenu" xPosition="after">
  <button mat-menu-item routerLink="/teams/MyTeams">MyPPluS</button>
  <button mat-menu-item>Vodafone</button>
  <button mat-menu-item>GDSPA</button>
  <button mat-menu-item>Internal Project</button>
</mat-menu>
