<mat-toolbar class="header-navigation">
  <!-- <img class="logo-img" src="../../assets/logoOrg.PNG" alt="logo" /> -->
  <span>
    <a class="logo-name" mat-button routerLink="/">Web App</a>
  </span>
  <button
    mat-icon-button
    class="mat-toggle"
    *ngIf="userIsAuthenticated"
    (click)="opened = !opened"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/posts/create" routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <!-- <li *ngIf="userIsAuthenticated">
      <button class="logout" mat-button (click)="onLogout()">Logout</button>
    </li> -->
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        ><i class="fas fa-bell"></i>&nbsp; Notifications</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/posts/home" routerLinkActive="mat-accent"
        ><i class="fas fa-list"></i> &nbsp;Tasks</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button
        class="userName"
        mat-raised-button="accent"
        (click)="opened = !opened"
      >
        {{ userName }}
      </button>
    </li>
  </ul>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav [(opened)]="opened" class="example-sidenav" mode="side">
    <app-header></app-header>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <main class="main-body">
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-error *ngIf="hasError"></app-error> -->
