<mat-toolbar class="header-navigation">
  <span>
    <a class="logo-name" mat-button routerLink="/">Web App</a>
  </span>
  <button
    mat-icon-button
    class="mat-toggle"
    *ngIf="userIsAuthenticated"
    (click)="opened = !opened"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/posts/create" routerLinkActive="mat-accent"
        >New Task</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/posts/mytask" routerLinkActive="mat-accent"
        ><i class="fas fa-list"></i> &nbsp;My Tasks</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/posts/home" routerLinkActive="mat-accent"
        ><i class="fas fa-clipboard"></i> &nbsp;Task Board</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button
        class="userName"
        mat-raised-button="accent"
        (click)="opened = !opened"
        routerLink="/posts/myProfile" routerLinkActive="mat-accent"
      ><i class="fa fa-user" aria-hidden="true"></i> &nbsp;
        {{ userName }}
      </button>
    </li>
  </ul>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav [(opened)]="opened" class="example-sidenav" mode="side">
    <app-header></app-header>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <main class="main-body">
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

