.display-flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.main-body {
  width: 99.5%;
  margin: auto;
  padding: 0.1%;
  border-radius: 1%;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 1rem 0;
}

.margin-auto {
  margin: auto !important;
}
.example-sidenav {
  padding: 2%;
}
mat-sidenav-content {
  height: 90vh;
  background-color: rgb(62, 58, 58);
}

/* For Headers */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
.logo-img {
  height: inherit;
  margin: auto 30px;
}

.logo-name {
  font-size: xx-large;
  text-decoration-line: underline;
}

.header-navigation {
  margin-bottom: 0.2%;
  background-color: black;
}
a:hover {
  color: darkmagenta;
}
button:hover {
  color: darkmagenta;
}

.logout {
  color: white;
}
.userName {
  color: black;
}
.paginator {
  background-color: black;
  color: white;
}
.mat-toggle {
  color: white;
}
