mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
.pick-image {
  margin: 20px auto;
}
.mat-form-field-infix {
  padding: 1rem 0;
}

.post-create {
  margin: 9% auto;
  width: 50%;
}
.form-table {
  width: 90%;
}
.form-table-td {
  width: 90%;
}
.edit-myprofile{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
