.ui.card,
.ui.cards > .card {
  width: 100%;
}
.description {
  padding: 2% 1%;
  padding-bottom: 10%;
}

.ui.active.modal {
  height: auto;
  width: 50%;
  margin-top: 5%;
  margin-left: 5%;
}
.ui.modal > .content > .image {
  display: none;
}

.ui.bottom.attached.button.avatar {
  font-size: xx-small;
}
.ui.button.edit-avatar {
  position: absolute;
  background-color: transparent;
}
.ui.card.myProfile {
  margin: 1rem auto !important;
}
.myProfile-img {
  padding-bottom: 10%;
}
