<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container">
  <div class="new-group">
    <button class="ui icon button" (click)="addGroup('Create')">
      <i class="plus icon"></i>
    </button>

  </div>
  <div class="list-container" *ngFor="let group of groupList">
    <div class="display-flex justify-space-between">
      <h4 style="color: white;">{{group}}</h4>
      <button style="margin-bottom: 1%;" class="ui mini icon button" (click)="deleteGroup(group)">
        <i class="trash icon"></i>
      </button>
    </div>
    <!-- <div class="todo-container column-container"> -->
      <!-- <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="posts"
        [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="onDrop($event)" cdkDropListOrientation="horizontal"> -->
        <div *ngIf="posts.length > 0 && !isLoading" class="posts-list">
          <div class="container">
          <div class="row">
            <div class="col-lg-10 col-md-5 col-sm-8">
          <div class="ui link cards example-card" *ngFor="let post of posts" cdkDrag>
            <div class="card task-card" *ngIf="post.groupName == group">
              <div class="content">
                <img class="right floated mini ui image" 
                [src]="'../../../assets/' + post.myAvatar" />
                <div class="card-header-actions right floated badge">
                  <span [ngClass]="{
                            'badge-notstarted': post.status == 'NotStarted',
                            'badge-completed': post.status === 'Completed',
                            'badge-inprogress': post.status === 'In Progress'
                          }">{{ post.status }}</span>
                </div>
                <div class="header ">
                  {{ post.userName }}
                </div>
                <table class="ui fixed single line celled table">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Time</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let task of post.tasks">
                      <td>
                        <h4 class="ui image header">
                          <div class="content">
                            {{task.title}}
                          </div>
                        </h4>
                      </td>
                      <td>
                        
                        {{task.content}}
                        
                      </td>
                      <td>
                        {{task.time}}
                      </td>
                      <td>
                        {{task.status}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="extra content right floated ui">
                <div class="mini ui two buttons">
                  <div class="ui basic green button" [routerLink]="['/posts/edit', post._id]">
                    <i class="icon edit"></i>Edit
                  </div>
                  <!-- <div class="ui basic red button" (click)="onDelete(post._id)">
                    <i class="icon trash">&nbsp; Delete</i>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
        </div>
        <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
          No tasks added yet!
        </p>
      
    <!-- </div> -->


  </div>
</div>


<!-- <div>
  <app-paginator></app-paginator>
</div> -->

<div [ngClass]="
showModal
  ? 'ui active modal scale animate__animated animate__backInUp'
  : 'ui modal animate__animated animate__backOutDown'
" class="ui modal">

  <div class="new-group-box">
    <i class="close icon" (click)="close()"></i>
    <div class="header header-post">
      {{action}} Group
    </div>

    <form (submit)="createGroup(createGroupForm)" #createGroupForm="ngForm" *ngIf="!isLoading">
      <div class="description new-group">
        <p class="text-muted">Provide name for Group.</p>
        <div class="ui corner labeled input">
          <input name="groupName" ngModel type="text" placeholder="Input..." #groupName="ngModel" required />
          <div class="ui corner label">
            <i class="pencil icon"></i>
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="ui red deny button small" (click)="close()">
          Cancel
        </div>
        <div class="ui positive icon button small" *ngIf="action === 'Create'" (click)="createGroup(groupName)">
          {{action}}
        </div>
        <div class="ui positive icon button small" *ngIf="action === 'Delete'" (click)="deleteGroup(groupName)">
          {{action}}
        </div>

      </div>
    </form>
  </div>
</div>