:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
  border: none !important;
  color: white;
  margin: auto;
}

.ui.card.example-card {
  width: 100%;
  margin: 2% auto;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-card.mat-card.ng-star-inserted {
  background-color: #f8f3c1;
  margin-bottom: 16px;
}
.paginator {
  background-color: black;
  color: white;
  margin: auto 10px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.profile-card {
  margin: 10px auto;
  width: 70%;
  padding: 0% 3% 3% 3%;
}

.posts-list {
  padding: 0% 3% 3% 3%;
  border-radius: 2px;
  display: flex;
  margin: auto;
}
.mat-select-value {
  color: white !important;
}

.ng-tns-c11-1.ng-star-inserted {
  color: white !important;
}

.edit-post {
  text-decoration: none;
  /* color: purple !important; */
}
/* .ui.card .meta,
.ui.cards > .card .meta {
  font-size: large;
  color: black;
  padding: 0% 2%;
} */

.description.display-flex.justify-flex-end {
  padding-right: 3%;
}

/* .paginator */

.mat-select-arrow {
  color: white;
}

.ng-tns-c14-2.ng-star-inserted {
  color: white;
}

mat-paginator {
  width: 100%;
  background-color: black;
  color: white;
}
.mat-select-value {
  color: white !important;
}

/* Task Card */

.card.task-card {
  width: 100%;
}
.ui.cards ~ .ui.cards {
  margin: auto;
}

.icon.trash {
  width: 100%;
}

.ui.cards {
  margin: auto;
}

.badge-notstarted {
  background-color: red;
  color: white;
  padding: 10%;
  border-radius: 10%;
  letter-spacing: 0.5px;
}

.badge-inprogress {
  background-color: rgb(231, 231, 42);
  color: black;
  padding: 10%;
  letter-spacing: 0.5px;
  border-radius: 10%;
}

.badge-completed {
  background-color: green;
  color: white;
  padding: 10%;
  letter-spacing: 0.5px;
  border-radius: 10%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}

.list-container {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
  border: dotted 2px white;
  padding: 2%;
  width: 100%;
}

.column-container {
  width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  /* background-color: RGBA(255, 255, 255, 0.05); */
}

.new-group{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

mat-card {
  margin: 1em;
  cursor: pointer;
}

.list {
  /* border: white dotted 2px;
  border-radius: 2px; */
  display: flex;
}

.list-item {
  margin: 10px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

a {
  text-decoration: none;
  color: dodgerblue;
}
.new-group{
  display: flex;
  height: 30%;
}
.ui.header{
  margin: auto;
}
.ui.corner.labeled.input{
  margin: auto;
}

.ui.modal.active.scale.animate__animated.animate__backInUp{
  padding-top: 5%;
  width: 100%;
    background-color: #ded5d5db;
}
.description.new-group{
  height: auto;
  background-color: white;
  padding: 2%;
}
.ui.header{
  font-size: small;
  font-weight: 500;
}
.actions{
  border-top: solid 1px #DEDEDF;
  background-color: white;
  padding: 2%;
  border-bottom-left-radius:.28571429rem;
  border-bottom-right-radius:.28571429rem;
  display: flex;
  justify-content: flex-end;
}
.header{
  border-bottom: solid 1px grey;
    padding-bottom: 2%;
    font-weight: 800;
    font-size: large;
}
.new-group-box{
  background-color: white;
    width: 50%;
    margin-left: 30%;
    padding: 2%;
}