:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}

.ui.card.example-card {
  width: 100%;
  margin: 2% auto;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-card.mat-card.ng-star-inserted {
  background-color: #f8f3c1;
  margin-bottom: 16px;
}
.paginator {
  background-color: black;
  color: white;
  margin: auto 10px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.profile-card {
  margin: 10px auto;
  width: 70%;
  padding: 0% 3% 3% 3%;
}

.posts-list {
  padding: 0% 3% 3% 3%;
}
.mat-select-value {
  color: white !important;
}

.ng-tns-c11-1.ng-star-inserted {
  color: white !important;
}

.edit-post {
  text-decoration: none;
  /* color: purple !important; */
}
/* .ui.card .meta,
.ui.cards > .card .meta {
  font-size: large;
  color: black;
  padding: 0% 2%;
} */

.description.display-flex.justify-flex-end {
  padding-right: 3%;
}

/* .paginator */

.mat-select-arrow {
  color: white;
}

.ng-tns-c14-2.ng-star-inserted {
  color: white;
}

mat-paginator {
  width: 100%;
  background-color: black;
  color: white;
}
.mat-select-value {
  color: white !important;
}

/* Task Card */

.card.task-card {
  width: 100%;
}
.ui.cards ~ .ui.cards {
  margin: auto;
}

.icon.trash {
  width: 100%;
}

.ui.cards {
  margin: auto;
}

.badge-notstarted {
  background-color: red;
  color: white;
  padding: 10%;
  border-radius: 10%;
  letter-spacing: 0.5px;
}

.badge-inprogress {
  background-color: rgb(231, 231, 42);
  color: black;
  padding: 10%;
  letter-spacing: 0.5px;
  border-radius: 10%;
}

.badge-completed {
  background-color: green;
  color: white;
  padding: 10%;
  letter-spacing: 0.5px;
  border-radius: 10%;
}
